body{
    margin:0px;
    background-image:url("stopback.png");
    background-repeat:none;
    background-size:cover;
}
#navigation
{   display:flex;
    background-color:#0fb0e0;
    color:white;
    justify-content:space-between;
    padding-left:40px;
    padding-right:40px;
    height:90px;
    position:sticky;
    top:0px;
    box-shadow:3px 3px 5px black;
}
#images
{   display:flex;
}
#icon
{   width:50px;
    height:50px;
    border-radius:50%;
    margin-top:20px;
    margin-right:30px;
}
#iconthing
{   margin-top:25px;
    font-family:"Matura MT Script Capitals";
    word-spacing:-10px;
}
#menus
{   display:flex;
}
a{
    text-decoration:none;
    color:white;
}
.items
{   text-decoration:none;
    text-transform:none;
    color:white;
    margin-left:70px;
}
.items:hover{
    border-bottom-style:solid;
    border-bottom-width:10px;
    border-bottom-color:black;
    padding-bottom:55px;
}
#box
{   width:600px;
    height:350px;
    background-color:rgba(128, 128, 128, 0.872);
    border-radius:30px;
    margin-top:170px;
    margin-left:500px;
    border-width:4px;
    border-color:white;
    border-style:solid;
}
#time
{   font-size:60px;
    text-align:center;
    padding-top:30px;
    color:white;
}
#btn-start,#btn-stop,#btn-reset
{   margin-right:45px;
    padding:15px;
    border-radius:20px;
    border:none;
    font-size:2em;
    margin-top:30px;
}
#btn-start
{   color:white;
    background-color:greenyellow;
    margin-left:100px;
}
#btn-stop
{   color:white;
    background-color:tomato;
}
#btn-reset
{   color:white;
    background-color:rgba(0, 0, 255, 0.594);
}
